<header>
        
        <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>
        {{!-- TODO: STYLE THIS ICON --}}
        {{!-- <img class="pear_icon" src="pear_icon.png"></img> --}}
        
</header>

<main class="pear-container">
    <button type="button" id="create-pear-button"><img id="pear-icon" src="pear_icon.png" width=40 heigh=40/></button>
</main>

<div id="modal-backdrop" class="hidden"></div>
<div id="create-pear-modal" class="hidden">
    <div class="modal-dialog">

        <div class="modal-header">
            <h3>Post a Pear</h3>
            <button type="button" class="pear-close-button">&times;</button>
        </div>

        <div class="modal-body">
            <div class="pear-input-element">
                <label for="pear-title-input">Title</label>
                <input type="text" id="pear-title-input">
            </div>
            <div class="pear-input-element">
                <label for="pear-image-input">Image link</label>
                <input type="text" id="pear-image-input">
            </div>
            <div class="pear-input-element">
                <label for="pear-description-input">Description</label>
                <textarea id="pear-description-input"></textarea>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" id="pear-cancel-button">Cancel</button>
            <button type="button" id="pear-accept-button">Post</button>
        </div>

    </div>
</div>

<div id="login-modal" class="hidden">
    <div class="modal-dialog">
        <div class="modal-header">
            <h3>Login</h3>
            <button type="button" class="login-close-button">&times;</button>
        </div>

        <div class="modal-body">
            <div class="login-input-element">
                <label for="username-input">Username</label>
                <input type="text" id="username-input">
            </div>
            <div class="login-input-element">
                <label for="password-input">Password</label>
                <input type="password" id="password-input">
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" id="login-cancel-button">Cancel</button>
            <button type="button" id="login-login-button">Login</button>
        </div>
    </div>
</div>