<article class="pear">
    <div class="pear-content">
        <img src={{image}}></img>
    <p class="pear-title">
        {{title}}
    </p>
    <p class="pear-poster">
        <a href="#">{{author}}</a>
    </p>
    </div>
</article>
