<article class="pear">
    <div class="pear-content">
        <img class="pear-image" src={{image}}></img>
    </div>
    <div class="pear-info">
        <p class="pear-title">
            {{title}}
        </p>
        <p class="pear-poster">
            <a href="#">{{author}}</a>
        </p>
        <p class="pear-rating">
            {{rating}}
        </p>
    </div>
</article>
