<article class="pear">
    
    <div class="pear-content">
        <img class="pear-image" src={{Image}} alt={{Description}}>
    </div> 

    <div class="pear-info"></div>
        <p class="pear-title">
            {{Title}}
        </p>
        <p class="pear-poster">
            <a href="#">{{Username}}</a>
        </p>
    </div>

</article>
