<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>PearScale</title>

    <link rel="stylesheet" href="style.css" media="screen">
    <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js"></script>
    
    <script src="index.js"></script>
    <script src="dao.js"></script>
    <script src="pearTemplate.js"></script>

    {{!-- header is here since it will be everywhere on the site --}}
    <a href="#"><h1 class="site-title">PearScale</h1></a>

    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem navlink active"><a href="/fresh">Fresh</a></li>
            <li class="navitem navlink"><a href="/ripe">Ripe</a></li>
            <li class="navitem navlink" id="login-button"><a href="#">Login</a></li>

            <li class="navitem navbar-search">
            <input type="text" id="navbar-search-input" placeholder="Find the pearfect pear...">
            <button type="button" id="navbar-search-button"><a href="#"></a><i class="fas fa-search"></i></button>
            </li>
        </ul>
    </nav>

</head>

<body>

    {{{body}}}

</body>

</html>